# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/java/as/sirhephaistos/simplybetter/core/db/allCrudMananagers.txt
/src/main/java/as/sirhephaistos/simplybetter/core/db/concat.py
/src/main/java/as/sirhephaistos/simplybetter/core/db/exampleClassJavadoc.txt
/src/main/java/as/sirhephaistos/simplybetter/library/allDTOs.txt
/src/main/java/as/sirhephaistos/simplybetter/library/concat.py
/src/main/resources/simplybetter/tablePresentation.md